.fondo {
  background: url("Walter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 7%,
    rgb(21, 14, 65) 52%,
    rgba(0, 0, 0, 1) 100%
  );
}

h1 {
  color: white;
}
